USE [master]
GO
/****** Object:  Database [EmployeeAdaptationSystemDb]    Script Date: 07.11.2024 17:15:43 ******/
CREATE DATABASE [EmployeeAdaptationSystemDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeAdaptationSystemDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DEERSERVER\MSSQL\DATA\EmployeeAdaptationSystemDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeAdaptationSystemDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DEERSERVER\MSSQL\DATA\EmployeeAdaptationSystemDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeAdaptationSystemDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeAdaptationSystemDb]
GO
/****** Object:  Table [dbo].[Collaboration]    Script Date: 07.11.2024 17:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collaboration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsMain] [bit] NULL,
	[ModuleId] [int] NULL,
	[EmployeeId] [int] NULL,
	[RoleId] [int] NULL,
	[IsAccepted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 07.11.2024 17:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 07.11.2024 17:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[DepartmentId] [int] NULL,
	[PositionId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeQuestionResult]    Script Date: 07.11.2024 17:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeQuestionResult](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[QuestionId] [int] NULL,
	[IsCorrect] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 07.11.2024 17:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[TypeId] [int] NULL,
	[ModuleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 07.11.2024 17:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 07.11.2024 17:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[FileData] [varbinary](max) NULL,
	[ModuleId] [int] NULL,
	[FileName] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 07.11.2024 17:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodeName] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[DateCreate] [datetime] NULL,
	[ModuleCompleteDeadline] [int] NULL,
	[ModuleDevelopDeadline] [int] NULL,
	[IsReleased] [bit] NULL,
	[StatusId] [int] NULL,
	[PreviousId] [int] NULL,
	[ResponsiblePersonId] [int] NULL,
	[Source] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModuleAccess]    Script Date: 07.11.2024 17:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleAccess](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NULL,
	[PositionId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModuleEditHistory]    Script Date: 07.11.2024 17:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleEditHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Datetime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModuleStatus]    Script Date: 07.11.2024 17:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 07.11.2024 17:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Text] [nvarchar](200) NULL,
	[DateTime] [datetime] NULL,
	[IsRead] [bit] NULL,
	[EmployeeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 07.11.2024 17:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 07.11.2024 17:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Testing]    Script Date: 07.11.2024 17:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Testing](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeId] [int] NULL,
	[ModuleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestingType]    Script Date: 07.11.2024 17:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestingType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestQuestion]    Script Date: 07.11.2024 17:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestQuestion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](300) NULL,
	[Answer] [nvarchar](150) NULL,
	[TestingId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Collaboration] ON 

INSERT [dbo].[Collaboration] ([Id], [IsMain], [ModuleId], [EmployeeId], [RoleId], [IsAccepted]) VALUES (1, 0, 1, 5, 1, NULL)
INSERT [dbo].[Collaboration] ([Id], [IsMain], [ModuleId], [EmployeeId], [RoleId], [IsAccepted]) VALUES (2, 0, 1, 6, 1, NULL)
INSERT [dbo].[Collaboration] ([Id], [IsMain], [ModuleId], [EmployeeId], [RoleId], [IsAccepted]) VALUES (3, 0, 1, 7, 2, 1)
SET IDENTITY_INSERT [dbo].[Collaboration] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Id], [Name]) VALUES (1, N'Финансовый')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (2, N'IT')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (3, N'Маркетинг')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [LastName], [FirstName], [MiddleName], [Login], [Password], [DepartmentId], [PositionId]) VALUES (1, N'Иванов', N'Иван', N'Иванович', N'ivanov', N'pass123', 1, 1)
INSERT [dbo].[Employee] ([Id], [LastName], [FirstName], [MiddleName], [Login], [Password], [DepartmentId], [PositionId]) VALUES (2, N'Петров', N'Петр', N'Петрович', N'petrov', N'pass234', 1, 3)
INSERT [dbo].[Employee] ([Id], [LastName], [FirstName], [MiddleName], [Login], [Password], [DepartmentId], [PositionId]) VALUES (3, N'Сидоров', N'Сидор', N'Сидорович', N'sidorov', N'pass345', 2, 2)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([Id], [Name], [Description], [TypeId], [ModuleId]) VALUES (2, N'Знакомство', N'Знакомимся с командой', 1, 2)
INSERT [dbo].[Event] ([Id], [Name], [Description], [TypeId], [ModuleId]) VALUES (3, N'Догонялки', N'Догоняй соседа', 1, 2)
INSERT [dbo].[Event] ([Id], [Name], [Description], [TypeId], [ModuleId]) VALUES (4, N'Попади карандашом в бутылку', N'Разве тут оно нужно,', 2, 2)
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[EventType] ON 

INSERT [dbo].[EventType] ([Id], [Name]) VALUES (1, N'Теория')
INSERT [dbo].[EventType] ([Id], [Name]) VALUES (2, N'Практика')
SET IDENTITY_INSERT [dbo].[EventType] OFF
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[Module] ON 

INSERT [dbo].[Module] ([Id], [CodeName], [Name], [DateCreate], [ModuleCompleteDeadline], [ModuleDevelopDeadline], [IsReleased], [StatusId], [PreviousId], [ResponsiblePersonId], [Source]) VALUES (1, N'Модуль_1', N'Введение в труд', CAST(N'2024-10-28T11:07:56.000' AS DateTime), 5, 15, 1, 3, NULL, 1, NULL)
INSERT [dbo].[Module] ([Id], [CodeName], [Name], [DateCreate], [ModuleCompleteDeadline], [ModuleDevelopDeadline], [IsReleased], [StatusId], [PreviousId], [ResponsiblePersonId], [Source]) VALUES (2, N'Модуль_2', N'Техника безопасности на работе и не на работе', CAST(N'2024-10-31T11:07:56.000' AS DateTime), 7, 10, 1, 4, 4, 4, N'кот.docx')
INSERT [dbo].[Module] ([Id], [CodeName], [Name], [DateCreate], [ModuleCompleteDeadline], [ModuleDevelopDeadline], [IsReleased], [StatusId], [PreviousId], [ResponsiblePersonId], [Source]) VALUES (3, N'Модуль_3', N'Прослушивание кандидатов', CAST(N'2024-10-31T11:07:56.000' AS DateTime), 5, 15, 0, 4, NULL, 3, NULL)
SET IDENTITY_INSERT [dbo].[Module] OFF
GO
SET IDENTITY_INSERT [dbo].[ModuleAccess] ON 

INSERT [dbo].[ModuleAccess] ([Id], [ModuleId], [PositionId]) VALUES (1, 1, 1)
INSERT [dbo].[ModuleAccess] ([Id], [ModuleId], [PositionId]) VALUES (4, 4, 4)
INSERT [dbo].[ModuleAccess] ([Id], [ModuleId], [PositionId]) VALUES (5, 5, 5)
SET IDENTITY_INSERT [dbo].[ModuleAccess] OFF
GO
SET IDENTITY_INSERT [dbo].[ModuleEditHistory] ON 

INSERT [dbo].[ModuleEditHistory] ([Id], [ModuleId], [EmployeeId], [Datetime]) VALUES (4, 2, 5, CAST(N'2024-11-05T11:34:13.097' AS DateTime))
INSERT [dbo].[ModuleEditHistory] ([Id], [ModuleId], [EmployeeId], [Datetime]) VALUES (5, 2, 5, CAST(N'2024-11-05T11:34:30.493' AS DateTime))
INSERT [dbo].[ModuleEditHistory] ([Id], [ModuleId], [EmployeeId], [Datetime]) VALUES (6, 2, 5, CAST(N'2024-11-05T11:36:29.450' AS DateTime))
SET IDENTITY_INSERT [dbo].[ModuleEditHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[ModuleStatus] ON 

INSERT [dbo].[ModuleStatus] ([Id], [Name]) VALUES (1, N'Новый')
INSERT [dbo].[ModuleStatus] ([Id], [Name]) VALUES (2, N'Черновик')
INSERT [dbo].[ModuleStatus] ([Id], [Name]) VALUES (3, N'В работе')
SET IDENTITY_INSERT [dbo].[ModuleStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([Id], [Name]) VALUES (1, N'Менеджер по продажам')
INSERT [dbo].[Position] ([Id], [Name]) VALUES (2, N'Системный администратор')
INSERT [dbo].[Position] ([Id], [Name]) VALUES (3, N'Бухгалтер')
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Разработчик')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Согласовант')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Testing] ON 

INSERT [dbo].[Testing] ([Id], [TypeId], [ModuleId]) VALUES (2, 1, 1)
INSERT [dbo].[Testing] ([Id], [TypeId], [ModuleId]) VALUES (3, 2, 1)
INSERT [dbo].[Testing] ([Id], [TypeId], [ModuleId]) VALUES (4, 1, 2)
SET IDENTITY_INSERT [dbo].[Testing] OFF
GO
SET IDENTITY_INSERT [dbo].[TestingType] ON 

INSERT [dbo].[TestingType] ([Id], [Name]) VALUES (1, N'Входное')
INSERT [dbo].[TestingType] ([Id], [Name]) VALUES (2, N'Итоговое')
SET IDENTITY_INSERT [dbo].[TestingType] OFF
GO
SET IDENTITY_INSERT [dbo].[TestQuestion] ON 

INSERT [dbo].[TestQuestion] ([Id], [Question], [Answer], [TestingId]) VALUES (1, N'Кто я', N'я', 4)
INSERT [dbo].[TestQuestion] ([Id], [Question], [Answer], [TestingId]) VALUES (4, N'я вы ты', N'мы', 5)
INSERT [dbo].[TestQuestion] ([Id], [Question], [Answer], [TestingId]) VALUES (5, N'КТО МЫ', N'HR-специалисты', 4)
SET IDENTITY_INSERT [dbo].[TestQuestion] OFF
GO
ALTER TABLE [dbo].[Collaboration]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Collaboration]  WITH CHECK ADD FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([Id])
GO
ALTER TABLE [dbo].[Collaboration]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([Id])
GO
ALTER TABLE [dbo].[EmployeeQuestionResult]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EmployeeQuestionResult]  WITH CHECK ADD FOREIGN KEY([QuestionId])
REFERENCES [dbo].[TestQuestion] ([Id])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([Id])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([TypeId])
REFERENCES [dbo].[EventType] ([Id])
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [Material___fk] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [Material___fk]
GO
ALTER TABLE [dbo].[Module]  WITH CHECK ADD FOREIGN KEY([PreviousId])
REFERENCES [dbo].[Module] ([Id])
GO
ALTER TABLE [dbo].[Module]  WITH CHECK ADD FOREIGN KEY([ResponsiblePersonId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Module]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [dbo].[ModuleStatus] ([Id])
GO
ALTER TABLE [dbo].[ModuleAccess]  WITH CHECK ADD FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([Id])
GO
ALTER TABLE [dbo].[ModuleAccess]  WITH CHECK ADD FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([Id])
GO
ALTER TABLE [dbo].[ModuleEditHistory]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[ModuleEditHistory]  WITH CHECK ADD FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([Id])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Testing]  WITH CHECK ADD FOREIGN KEY([TypeId])
REFERENCES [dbo].[TestingType] ([Id])
GO
ALTER TABLE [dbo].[Testing]  WITH CHECK ADD  CONSTRAINT [Testing___fk] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([Id])
GO
ALTER TABLE [dbo].[Testing] CHECK CONSTRAINT [Testing___fk]
GO
ALTER TABLE [dbo].[TestQuestion]  WITH CHECK ADD FOREIGN KEY([TestingId])
REFERENCES [dbo].[Testing] ([Id])
GO
USE [master]
GO
